.typography1440pxTitle1 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 96px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxTitle2 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 54px;
  line-height: 72px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxTitle3 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxTitle4 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxTitle5 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxTitle6 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxSubtitle 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxBodyM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxBodyS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1440pxCaption 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxTitle1 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 80px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxTitle2 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxTitle3 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 48px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxTitle4 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxTitle5 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxTitle6 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxSubtitle 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxBodyM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxBodyS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography1024pxCaption 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxTitle1 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxTitle2 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxTitle3 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxTitle4 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxTitle5 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxTitle6 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxSubtitle 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxBodyM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxBodyS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography768pxCaption 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxTitle1 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxTitle2 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxTitle3 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxTitle4 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxTitle5 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxTitle6 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxSubtitle 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxBodyM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxBodyS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography480pxCaption 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxTitle1 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxTitle2 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxTitle3 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxTitle4 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxTitle5 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxTitle6 
 {
  
  font-family: "Izmir";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxSubtitle 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxBodyM 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxBodyS 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typography360pxCaption 
 {
  
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

